.cfg.json
.eslintrc.json
package-lock.json
node_modules


*.db
twitchminers/*
!twitchminers/runDefault.py
!twitchminers/starter.sh
twitchminers/templogs/*
!twitchminers/templogs/

checkers/*